# Connection string to database
DB_CONNECTION=
# Log level for the logger, choose from: trace,debug,info,warn,error,fatal
LOG_LEVEL=
# Port to run the api on, if you leave this empty it will use 8080
PORT=
# Password for the test User
TEST_PASSWORD=
# URL to the root certificate
SSI_ROOT_CERT_URL=
# Path to the root certificate
SSI_ROOT_CERT_PATH=

